body {

    display: flex;
    flex-direction: column;

      }

#logohelp {
  padding-top: 2%;
  padding-right: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
}

      .logo_image {
        background-image: url("../picture/sky.jpg");
        height: 43%;
        width: 100%;
        /*position absolute*/
        padding-top: 9.5%;
        text-align: center;
        /*left: 350px;*/
        z-index: 5;
      }

      .header {
        display: flex;

      }


      #slogan {
        padding: 30px;
        font-family: Impact, sans-serif;
        font-weight: normal;
        color:#36454f;
        padding-bottom: 40px;
        margin-bottom: 0px;
        text-shadow:
          /* Outline */
          -1px -1px 0 white,
          1px -1px 0 white,
          -1px 1px 0 white,
          1px 1px 0 white,
          -2px 0 0 white,
          2px 0 0 white,
          0 2px 0 white,
          0 -2px 0 white;
      }

      /*navbar*/
      .rainbow {
          list-style-type: none;
          /*margin-top: -9px;*/
          padding: 2px;
          padding-left: 25%;
          overflow: hidden;
          background-color: #36454f;
          height: 75px;
          align-items: center;
          border-top: 6px solid white;
          border-bottom: 6px solid white;


      }

      .ponies {
          float: left;
          margin-bottom: 40px;
          margin-top: -50px;
          margin-right: 53px;
      }

      .unicorn {
          display: block;
          color: white;
          text-align: center;
          padding: 16px 16px;
          text-decoration: none;
      }

      .unicorn:hover {
          background-color: #3fa45a;
        color: white;
      }

      /*end navbar*/
      #first_element {
        padding-top: 30px;
        font-family: Impact, Charcoal, sans-serif;
        font-size: 30px;
        margin-top: -38px;

      }
      #list_elements {
        font-family: Impact, Charcoal, sans-serif;
        font-size: 30px;
      }
