/*.home_image {
  position: absolute;

}*/

.logo_image {
  background-image: url("../sky.jpg");
  height: 400px;
  width: 100%;
  padding-top: 70px;
  text-align: center;
  /*left: 350px;*/
  z-index: 5;
}

.header {
  display: flex;
}

#slogan {
  padding: 40px;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
  color:#073d18;
  border-top: 2px dashed #12d132;
	border-bottom: 2px dashed #12d132;
  box-shadow: inset 0 -1px 0 0 #12d132, inset 0 1px 0 0 #12d132, 0 1px 0 0 #12d132, 0 -1px 0 0 #12d132;
	padding-bottom: 30px;
  margin-bottom: 0px;
}

/*navbar*/
#navbar {
    list-style-type: none;
    margin-top: -9px;
    padding: 0px;
    padding-left: 25%;
    overflow: hidden;
    background-color: #1ccc31;
    height: 92px;
    /*display: flex;*/
}

#nav {
  float: left;
  margin-bottom: 40px;
  margin-top: -31px;
  margin-right: 53px;
}

#bar {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

#bar:hover {
    background-color: #50bdfc;
}

/*end navbar*/

.main {
  /*background-image: url("../mountain_sunset.jpg");*/
  background-color: #aed5f2;
  margin-top: 80px;
}

.statistics {
  padding: 40px;
  font-family: Impact, Arial;
  color: black;
  padding-bottom: 30px;
  margin-bottom: 0px;
  font-size: 250%;
  text-align: center;
}

table {
    width:80%;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-top: 20px;
    border: 1px solid #7a7479;
    background-color: white;
    color: black;

}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
td {
    background-color: #aaff6e;
}
table#t01 th {
    background-color: white;
}

h1 {
  text-align: center;
}

#dont {
  text-align: center;
}

img {
  margin-left: 10%;
  margin-right: 10%;
  border-width: 5px;
  border-color: Charcoal;
}

#blue {
  color: blue;
}

#brown {
  color: brown;
}

#green {
  color: green;
}
