/*.home_image {
  position: absolute;

}*/

.logo_image {
  background-image: url("../sky.jpg");
  height: 400px;
  width: 100%;
  position: absolute;
  padding-top: 70px;
  text-align: center;
  /*left: 350px;*/
  z-index: 5;
}

.header {
  display: flex;

}

#slogan {
  padding: 40px;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
  color:#073d18;
  border-top: 2px dashed #12d132;
	border-bottom: 2px dashed #12d132;
  box-shadow: inset 0 -1px 0 0 #12d132, inset 0 1px 0 0 #12d132, 0 1px 0 0 #12d132, 0 -1px 0 0 #12d132;
	padding-bottom: 30px;
  margin-bottom: 0px;
}

/*navbar*/
ul {
    list-style-type: none;
    margin-top: -9px;
    padding: 30px;
    padding-left: 40%;
    overflow: hidden;
    background-color: #333;
    /*display: flex;*/
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*end navbar*/
